style.
  body {
    color:'#5f6062';
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  p {

  }



doctype html
html(lang='en')
 body
    h2(style={color: '#009845'})=`Haftalık Teklif Özeti ${guncelleme_tarihi}`
    p(style={color:'#5f6062'}) Haftalık Teklif Özetinin tüm dökümünü ekteki XLSX dosyasında bulabilirsiniz.

    hr
    small=`INKA | Istanbul | Turkey `

    a(href='https://inkafixing.com') Website
