style.
  body {
    color:'#5f6062';
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  p {

  }



doctype html  
html(lang='en')  
 body
    img(height=120,src='https://www.uponbi.com/wp-content/uploads/2020/06/LinkedinHeader.jpg' , alt='UponBI for Qlik Sense')

    h2(style={color: '#009845'}) Welcome to UponBI
    h3(style={color: '#5f6062'}) A true mobile BI experience for your Qlik Sense dashboards

    p(style={color:'#5f6062'}) We're excited to have you onboard with UponBI. 
    p(style={color:'#5f6062'}) We received your free access request. Before processing, we need some missing information from your request as below:

    ul
      li
        p
            b=` App Url ` 
            =` ${AppUrl}`

    p(style={color:'#5f6062'}) In order to provide a valid App Url:

    ul
        li 
            p(style={color:'#5f6062'})
                | Open the app that you want to access for free in a browser tab.
        li 
            p(style={color:'#5f6062'})
                | Copy the full url in the address bar
        li 
            p(style={color:'#5f6062'})
                | Refill the form with this url in the app or simply send it to 
                a(href='mailto:info@uponbi.com') us

    p(style={color:'#5f6062'})
        | If you think something is wrong with this information, please feel free to 
        a(href='mailto:info@uponbi.com') contact us

    p(style={color:'#5f6062'}) We will issue a free access key and provide you as soon as your missing information is provided..

    p(style={color:'#5f6062'}) Sincerely,

    p(style={color:'#5f6062'}) UponBI Team

    hr
    small=`This e-mail was sent to: ${to}. UponBI Yazilim Sanayi ve Dis Ticaret Anonim Sirketi | Fahrettin Kerim Gokay Cd 276 10 | Istanbul | Turkey `
  
    a(href='https://uponbi.com') Privacy Policy 
